body{
    margin:0;
    overflow:hidden;
    font-family:Arial;
}

.hidden{
    display:none;
}

#ecall{

    position:absolute;

    top:7%;

    left:50%;

    transform:translateX(-50%);

    width:360px;

    background:#202020;

    border-radius:12px;

    color:white;

    text-align:center;

    padding:15px;

    box-shadow:0 0 20px rgba(0,0,0,.6);

}

.title{

    font-size:24px;
    font-weight:bold;
    color:#ff9900;

}

.text{

    margin-top:10px;

    font-size:18px;

}

.countdown{

    margin-top:15px;

    font-size:22px;

    color:#ffcc00;

}

.cancel{

    margin-top:10px;

    color:#bbbbbb;

}